@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to the ADFS Authentication POC</h2>
        <p>To follow along in building this sample please >refer to the Quickstart</a>.
    </div>
</div>
